
#container {
    position: relative;
    background-color: #269d9d;
    margin: 0px;
}
div {
    display: block;
}
body {
    margin: 0px;
    background-size: 100% 100%;
    background-position: left left;
    height: 100%;
}
header {
    position: relative;
    height: 80px;
    background-color:#0F0F0F;
    color: white;
    text-align: center;
    padding: 5px;
}
#navbar {
    position: relative;
    display: flex;
    justify-content:space-between;
    max-width: 1120px;
    height: 625px;
    margin: 0 auto;
}
a:link {
    color: #E6E6E6;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #E6E6E6;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: #CF0210;
    background-color: transparent;
    text-decoration;
}
a:active {
    color: #CF0210;
    background-color: transparent;
    text-decoration: underline;
}
h1 {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3vw;
    margin-top: 20px;
    letter-spacing: 2px;
    color: e7f5f5;
    border: 3px solid #CF0210;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 2px;
    
}
h2 {
    font-family: roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3vw;
    float: left;
    margin-left: 63px;
    margin-top: 26px;
    color: #E6E6E6;
    
}
#row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:center;
    max-width: 2500px;
    height: 625px;
    margin: 0 auto;
    
}
button {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#186180;
    padding: 5px 15px;
    letter-spacing: 1px;
}
#col1 {
    width: 770px;
    height: 560px;
}
h3{
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 70px; 
    text-align: left;
    color: #E6E6E6;
    line-height: 80px;
    margin-top: 10px;
    margin-bottom: 0;
}
h4 {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px; 
    text-align: left;
    color: #E6E6E6;
    margin-bottom: 2vh;
}
p {
    font-family: 'Lora', serif;
    font-weight: 300;
    font-style: normal;
    color: #E6E6E6;
    letter-spacing: .7px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 35vw;
    
}
button {
    background-color: #CF0210;
    border-radius: 15px;
    margin-top: 5px;
    height: 50px;
    border:none;
    margin-top: 20px;
}
article {
    display: inline-block;
    text-align: left;
}
#co {
    margin-left: 25px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}
#col2 {
    width: 350px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
#box {
    background-color:#0F0F0F;
    opacity: 65%;
    width: 350px;
    height: 177px;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 0px;
}
h6 {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px; 
    text-align: center;
    vertical-align: center;
    color: #E6E6E6;
    letter-spacing: 1px;
    margin: 55px auto auto auto;
}
footer {
    position: absolute;
    padding-top: 40px;
    bottom: 0;
    width: 100%;
    height: auto;  /* Height of the footer */
    background: #0F0F0F;
    justify-content: center;
    align-items: center;
    display: flex;

}
h5 {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: #E6E6E6;
    text-align: center;
    padding-top: 15px;
    letter-spacing: 2.5px;
}
/*
.fontmargin {
    margin: 0px 0px 0px 0px;
}
#nav {
    height: 42px;
    background-color: black;
    top: 5px;
    left: 0px;
    color: white;
    text-align: center;
}
#greenbox {
    position: absolute;
    /*position absolute keeps it glued in place when changing browser size. Have to declare a relative before an absolute.*//*
    height: 100px;
    width: 100px;
    background-color: green;
    top: -10px;
    left: -200px;
}
#title {
    position: absolute;
    line-height: 8px;
    top: 45px;
    left: 300px;
    width: 400px;
    height: 100px;
}
#sidenav {
    position: absolute;
    top: 202px;
    left: 0px;
    width: 80px;
    height: 565px;
    background-color: #24326B;
    color: #e7f5f5;
    line-height: 40px;
    padding: 10px;
}
a {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px; 
    line-height: 30px;
    color:#e7f5f5;
    text-decoration: none;
}
a:hover {
    color: #186180;
}
.resume {
    width: 330px;
    height: auto;
    margin-left: 140px;
    margin-top: 110px;
    box-shadow: 0px 0px 10px #24326B;
}
#maincontent {
    position: absolute;
    left: 130px;
    top: 210px;
    width: 360px;
    height: 400px;
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    line-height: 20px;
}
.portfolio {
    width: 200px;
    height: auto;

}
#bluebox {
    position: absolute;
    height: 185px;
    width: 250px;
    top: 330px;
    right: 50px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #24326B;
    color: #e7f5f5;
    line-height: 5px;
    border-radius:20px;
}
.sm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
    margin-top: 10px;
    padding: 3px;
}
#images{
    text-align:center;
}
footer {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center; 
	padding-top: 0px;
    position: absolute;
	align-content: center;
    height: 30px;
    width: 860px;
    background-color: #0b122d;
    color: #e7f5f5;
	bottom: 0px;
	left: 0px;
}
